.header {
  height: 840px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../img/hero.jpg), lightgray 0px -147.517px / 100% 170.667% no-repeat;
  background-size: cover;
}
